@layer components {
  /* Heading */
  .heading-1-bold {
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .heading-1-semibold {
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .heading-2-bold {
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .heading-2-semibold {
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .heading-2-5-medium {
    font-size: var(--font-size-heading-2-5);
    line-height: normal;
    font-weight: var(--font-weight-medium);
  }

  .heading-3-semibold {
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .heading-3-medium {
    font-size: var(--font-size-heading-3);
    line-height: normal;
    font-weight: var(--font-weight-medium);
  }

  .heading-3-regular {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-heading);
  }

  .heading-3-regular-normal {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-regular);
    line-height: normal;
  }

  .heading-3-semibold-normal {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
  }

  .heading-3-light-normal {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-light);
    line-height: normal;
  }

  /* Subhead */
  .subhead-1-semibold {
    font-size: var(--font-size-subhead-1);
    line-height: var(--line-height-subhead);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .subhead-1-medium {
    font-size: var(--font-size-subhead-2);
    line-height: var(--line-height-subhead);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-normal);
  }

  .subhead-1-medium th,
  .subhead-1-medium td {
    font-weight: var(--font-weight-medium);
  }

  .body-medium {
    font-size: var(--font-size-body-1);
    line-height: normal;
    font-weight: var(--font-weight-medium);
  }

  .subhead-medium {
    font-size: var(--font-size-subhead-1);
    line-height: normal;
    font-weight: var(--font-weight-medium);
  }

  .subhead-light {
    font-size: var(--font-size-subhead-1);
    line-height: normal;
    font-weight: var(--font-weight-light);
  }

  /* Body */
  .body-1-semibold {
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .body-1-light {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-weight-light);
  }

  .body-1-medium {
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-normal);
  }

  .subhead-1-regular {
    font-size: var(--font-size-subhead-1);
    font-weight: var(--font-weight-regular);
    line-height: normal;
  }

  .text-highlight {
    font-size: 14px;
    background: linear-gradient(92deg, #5293af -29.69%, #bdf548 127.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .session-title {
    font-size: var(--font-size-heading-2-5);
    font-weight: var(--font-weight-medium);
    line-height: normal;
    background: linear-gradient(92deg, #5293af -29.69%, #bdf548 127.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .body-1-regular {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-regular);
    line-height: 20px;
    color: var(--color-grey-700);
  }

  .organization-tag {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    color: var(--color-grey-700);
    border: 1px solid var(--color-grey-700);
    border-radius: 3px;
    padding: 2px 8px;
  }

  .body-2-semibold {
    font-size: var(--font-size-body-2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .body-2-medium {
    font-size: var(--font-size-body-2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-normal);
  }

  .body-2-regular {
    font-size: var(--font-size-body-2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-normal);
  }

  /* Caption*/
  .caption-semibold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-normal);
  }

  .caption-medium {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-normal);
  }
}
